@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  
.header__content{
    width: 100%;
    height: 109px;
    
  
}



.text__logo{
    font-family: 'Montaga', serif;
    font-size: 32px;
    color: #b57b22;
    position:absolute;
    margin-top: 2.8rem;
    margin-left: 2rem;


}

.header__search{
    display: grid;
    margin-left: 15rem;
    position:absolute;
    margin-top: 3.4rem;
    font-size: 1.5rem;
}

.header__hamburger{
    display: grid;
    margin-left: 19rem;
    position:absolute;
    margin-top: 3.4rem;
    font-size: 1.5rem;
    background-color: #fff;
    border:none!important;
}

.header__background{
    width: 100%;
    height: 701px;
    background-color: #d7cbb8;
}

.img__background{
    width: 100%;
    height: 701px;
    position: absolute;
}

.header__title{
    color: #fff;
    position: absolute;
    font-size: 46px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    margin-top: 7.8rem;
    margin-left: 1.5rem;
}

.header__subtitle{
    color: #fff;
    position: absolute;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-top: 19.7rem;
    margin-left: 1.5rem;
}

.header__btn{
    background-color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    border:none!important;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    border-radius: 12px;
    width: 11.9rem;
    height: 3.75rem;
    margin-top: 28.25rem;
    margin-left: 1.5rem;
}

.header__btn-play{
    background-color: #fff;
    border:none!important;
    position: absolute;
    font-weight: 800;
    border-radius: 42px;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 33.8rem;
    text-align: center;
    margin-left: 1.5rem; 
    z-index: 2; 
    
}

.text_btn-play{
    color: #fff;
    font-size: 16;
    position: absolute;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-left: 5rem;
    margin-top: 34.3rem;
}

.advantage__container{
    height: 86.4rem;
    width: 100%;
    justify-content: center;
    display: flex;
   
}

.advantage__content{
    position: relative;
    display: flex;
    width: 20.4rem;
    height: 71.1;
    margin: auto;
    margin-top: 5.8rem;
   
}

.advantage__title{
    text-align: center;
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;

}

.advantage__subtitle{
    text-align: center;
    font-size: 16px;
    color: #6b6b6b;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-top: 2rem;
}

.advantage_list{
    margin-top: 4.5rem;

}

.circle{
    width: 7.8rem;
    height: 7.8rem;
    border-radius: 80px;
    margin: 0 auto;
    text-align: center; 
    background-color: #f7f7f7;
}

.circle img{
    color: #dfab5b;
    margin-top: 2.7rem;
    align-items: center;
}

.advantage_list-title{
    text-align: center;
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    margin-top: 1.5rem;
}

.advantage_list-subtitle{
    text-align: center;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #6b6b6b;
    margin-top: 1.8rem;
}

.needs__container{
    width: 100%;
    height: 98.5rem;
    background-color: #f9f9f9;
    justify-content: center;
    display: flex;
    
}

.needs__content{
    position: absolute;
    margin-top: 4.8rem;
    width: 20.5rem;
    align-items: center;
    justify-content: center;
    
   
}

.needs__title{
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    text-align: center;
}

.needs__subtitle{
    color: #6b6b6b;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-top: 2.1rem;
    text-align: center;
}

.needs__remote-title{
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    margin-top: 7.1rem;
    text-align: center;
}

.needs__remote-subtitle{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #6b6b6b;
    margin-top: 1rem;
    text-align: center;
}

.needs__remote-img {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
}

.about__container{
    margin-top: 10.8rem;
    width: 100%;
    height: 76.4rem;
    display: flex;
    justify-content: center;
}

.about__content{
    width: 326px;
    height: 76.4rem;
   
   
}

.about__img{
    width: 327px;
    height: 27rem;
    background-color: #6b6b6b;
}

.about__circle{
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 80px;
    text-align: center; 
    background-color: #da9a38;
}

.about__circle img{
    color: #dfab5b;
    margin-top: 0.9rem;
    align-items: center;
}

.about__title{
    margin-top: 2.1rem;
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    
}

.about__subtitle{
    margin-top: 2.6rem;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: #6b6b6b;
    height: 16rem;
}

.text__about-2{
    margin-top: 2.6rem;
}

.about__link{
    color: #da9a38;
    top: 2.6rem;
    text-decoration: underline;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.menu__container{
    width: 100%;
    height: 51.2rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

.menu__content{
   
}

.menu__title{
    margin-top: 6.2rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

.menu__subtitle{
    margin-top: 2.1rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #6b6b6b;
}

.menu__cars{
    margin-top: 2.9rem;
    display: grid;
}

.menu__car_1{
    background-color: #da9a38;
    width: 300px;
    height: 26.2rem;
    opacity: 65%;
}

.menu__number{
    position: absolute;
    margin-top: 3.1rem;
    margin-left: 1.5rem;
    color: #f7f7f7;
    font-size: 42px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.menu__card-title{
    position: absolute;
    margin-top: 6.5rem;
    color: #f7f7f7;
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-left: 1.5rem;
}

.menu__card-subtitle{
    position: absolute;
    margin-top: 9.8rem;
    color: #f7f7f7;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-left: 1.5rem;
    width: 15.5rem;
    height: 22.1rem;
} 




.menu__car_2{
    background-color: #fff;
    width: 300px;
    height: 26.2rem;
    
}

.menu__car_3{
    background-color: #fff;
    width: 300px;
    height: 26.2rem;
    
}

.menu__number_2{
    position: absolute;
    margin-top: 3.1rem;
    margin-left: 1.5rem;
    color: #000000;
    font-size: 42px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.menu__card-title_2{
    position: absolute;
    margin-top: 6.5rem;
    color: #000000;
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-left: 1.5rem;
}

.menu__card-subtitle_2{
    position: absolute;
    margin-top: 9.8rem;
    color: #000000;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-left: 1.5rem;
    width: 15.5rem;
    height: 22.1rem;
} 




.menu__car_4{
    background-color: #292929;
    width: 300px;
    height: 26.2rem;
    
}

.menu__number_4{
    position: absolute;
    margin-top: 3.1rem;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 42px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.menu__card-title_4{
    position: absolute;
    margin-top: 6.5rem;
    color: #fff;
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-left: 1.5rem;
}

.menu__card-subtitle_4{
    position: absolute;
    margin-top: 9.8rem;
    color: #fff;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-left: 1.5rem;
    width: 15.5rem;
    height: 22.1rem;
} 
